article#containerfotoPerfil{
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    padding: 0 auto
}

article#containerfotoPerfil{
    margin-top: 50px
}

article#containerfotoPerfil .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid #BDBDBD;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    padding: 50px;
    margin-top: 10px 
}

article#containerfotoPerfil .container form img{
    border-radius: 5px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

article#containerfotoPerfil .container form progress{
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
    padding: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center
}

article#containerfotoPerfil .container form label{
    font-size: 18px;
}

article#containerfotoPerfil .container  form input{
    border-radius: 5px;
    width: 250px;
    height: 30px;
    padding: 0 10px;
    margin: 5px 0 
}

article#containerfotoPerfil .container form .containerButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article#containerfotoPerfil .container form .containerButton button{
    border: none;
    background: #FD8469;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.1s
}

article#containerfotoPerfil .container form .containerButton button:hover{
    background: #FF8000
}