section#posts{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 auto;
}

section#posts article{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

section#posts .titulo{
    font-size: 20px
}

section#posts article img{
    width: 100%;
    margin: 10px auto;
    padding: 0 auto;
    border-radius: 5px
}

section#posts .descricao{
    font-size: 18px
}