section#postagem{
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 auto
}

section#postagem h1{
    font-size: 30px;
    width: 38%;
    margin: 0 auto;
    padding: 0 auto
}

section#postagem progress{
    margin: 10px 0
}

section#postagem img{
    border-radius: 5px
}

section#postagem .containerpostagem{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
}

section#postagem form{
    border: 2px solid #fd8469;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    height: 465px;
    max-width: 370px;
    padding: 20px;
    margin-top: 20px;
    
    display: flex;
    justify-content: center;
    flex-direction: column
} 

section#postagem h2{
    color: #DF013A
}

section#postagem form label{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 17px
}

section#postagem form input[type = text]{
    border: none;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    padding: 0 10px;
}

section#postagem input[type = file]{
    margin-bottom: 20px
}

section#postagem form button{
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    background: #fd8469;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    transition: 0.1s
}
section#postagem form button:hover{
    background: #f76b4f
}

section#postagem form .buttonCancelar{
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    transition: 0.1s;
    background: #2ECCFA;
    text-decoration: none;
    text-align: center
}
section#postagem form .buttonCancelar:hover{
   background: #01A9DB
}