section#containerDeslogar{
    width: 100%;
    height: 75vh;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 auto;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section#containerDeslogar .caixas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
    max-width: 250px;
    background: #81F7F3;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    margin: 15px
}

section#containerDeslogar .caixas .fotoPerfil{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px
}

section#containerDeslogar .caixas .fotoPerfil img{
    width: 60px;
    height: 60px;
    border-radius: 50px
}

section#containerDeslogar .caixas .fotoPerfil .semFoto{
    width: 50px;
    height: 50px;
    margin-bottom: -10px
}

section#containerDeslogar .caixas p{
    margin: 10px 0
}

section#containerDeslogar .caixas button{
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 6px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.1s
}

section#containerDeslogar .caixas button:hover{
    background:  #F2F2F2
}

section#containerDeslogar .caixas a{
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 6px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
    text-align: center;
    color: #000
}

section#containerDeslogar .caixas a:hover{
    background:  #F2F2F2
}

/*FUNDO VERDE*/

section#containerDeslogar .fundoVerde{
    background: #2EFE2E
}
section#containerDeslogar .fundoVerde .foto{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px
}
section#containerDeslogar .fundoVerde .foto img{
    width: 45px;
    height: 45px;
}

section#containerDeslogar .fundoVerde p{
    margin: 35px 0
}

section#containerDeslogar .fundoVerde button a{
    text-decoration: none;
    color: #000
}

@media (max-width: 600px){
    section#containerDeslogar{
        width: 100%;
        height: 85vh;
        max-width: 930px;
        margin: 0 auto;
        padding: 0 auto;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-direction: column
    }
}