section#cadastro{
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 auto
}

section#cadastro .containerCadastro{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

section#cadastro form{
    border: 2px solid #fd8469;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    height: 380px;
    max-width: 350px;
    padding: 20px;
    margin-top: 20px;
    
    display: flex;
    justify-content: center;
    flex-direction: column
} 

section#cadastro h2{
    color: #DF013A
}

section#cadastro form label{
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 17px
}

section#cadastro form input{
    border: none;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    padding: 0 10px;
}

section#cadastro form button{
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    background: #fd8469;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    transition: 0.1s
}
section#cadastro form button:hover{
    background: #f76b4f
}

section#cadastro form .buttonCancelar{
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    background: #2ECCFA;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    transition: 0.1s
}
section#cadastro form .buttonCancelar:hover{
   background: #01A9DB
}

section#cadastro form .buttonCancelar a{
    text-decoration: none;
    color: #fff
}