section#login{
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 auto
}

section#login .containerLogin{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

section#login .containerLogin h1 {
    font-size: 30px;
}

section#login .containerErro{
    background: #FA5858;
    width: 100%;
    max-width: 600px;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

section#login .containerErro h2{
    color: #ffff;
    font-size: 19px;
    font-weight: 400;
}

section#login .containerLogin form{
    border: 2px solid #fd8469;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    height: auto;
    max-width: 350px;
    padding: 20px;
    margin-top: 20px;
    
    display: flex;
    justify-content: center;
    flex-direction: column
} 

section#login .containerLogin form label{
    margin-top: 15px;
    font-size: 17px
}
section#login .containerLogin form .containerInput{
    position: relative
}

section#login .containerLogin form input{
    border: none;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    padding: 0 40px;
    width: 100%;
    transition: 0.1s
}

section#login .containerLogin form input:focus {
    border-color: #f76b4f;
    box-shadow: 0px 0px 8px 0px #f76b4f
}

section#login .containerLogin form i{
    position: absolute;
    padding: 0 10px;
    top: 7px;
    color: #6E6E6E;
    font-size: 17px;
}

section#login .containerLogin form button{
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    background: #fd8469;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.1s
}
section#login .containerLogin form button:hover{
    background: #f76b4f
}

section#login .containerLogin footer{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px
}

section#login .containerLogin footer a{
    text-decoration: none;
    color: #fd8469;
    font-weight: bold
}

section#login .containerLogin footer a:hover{
    color: #f76b4f
}